<a href="https://colab.research.google.com/github/andrew-wairegi-school/week-4-ip/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_09_Andrew_Wairegi_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Github repository: https://github.com/andrew-wairegi-school/week-4-ip

## Setup

### Importing libraries

In [ ]:
# Importing the libraries that I will need

# Numpy
import numpy as np

# Pandas
import pandas as pd

# Matplotlib.pyplot
import matplotlib.pyplot as plt

### Reading the CSV

In [ ]:
df = pd.read_csv("Autolib_dataset.csv")
df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

## Previewing the Dataset

In [ ]:
df.head(15)

                               Address  Cars  ...  hour  minute
0                  2 Avenue de Suffren     0  ...    11      43
1            145 Rue Raymond Losserand     6  ...     7      24
2     2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3               51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4   6 avenue de la Porte de Champerret     3  ...    17      23
5                 8 Boulevard Voltaire     0  ...     7       2
6                       37 rue Leblanc     0  ...    18      20
7          17 Rue des Luaps ProlongÃ©e     3  ...    22      13
8                34 avenue Jean Moulin     1  ...    22      58
9         41 boulevard de Rochechouart     6  ...    15       2
10                      14 rue Censier     0  ...     4      39
11        12 Rue Francis de PressensÃ©     1  ...     9      20
12  6 avenue de la Porte de Champerret     5  ...    12      22
13               34 avenue Jean Moulin     0  ...    21      54
14          8 Boulevard Richard Lenoir     0  ...     8       0

[15 rows x 25 columns]

## Information about the Dataset

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

## Cleaning the Dataset

### Validity

In [ ]:
# Dropping unneeded columns
columns = ["Geo point", "Displayed comment"]
df.drop(labels = columns, axis = 1, inplace = True)
df.head(3)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 23 columns]

In [ ]:
# Removing whitespaces from column names

df.columns = map(str.strip, df.columns)
df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City', 'ID',
       'Kind', 'Postal code', 'Public name', 'Rental status', 'Scheduled at',
       'Slots', 'Station type', 'Status', 'Subscription status', 'year',
       'month', 'day', 'hour', 'minute'],
      dtype='object')

In [ ]:
# Removing whitespaces from column values
columns = ["Address", "Charging Status", "City", "ID", "Kind", "Public name", "Rental status", "Station type", "Status", "Subscription status"]
df[columns] = df[columns].applymap(str.strip)
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 23 columns]

### Accuracy

In [ ]:
df["Cars"] + df["Bluecar counter"]

0        0
1       12
2        6
3        6
4        6
        ..
4995     4
4996     8
4997     2
4998     4
4999     8
Length: 5000, dtype: int64

In [ ]:
# Data type "Cars" & "Bluecar counter" correct

### Completeness

In [ ]:
# Find missing values

df.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
ID                        0
Kind                      0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [ ]:
# Filling in Missing values
df["Scheduled at"].fillna(value = 0, inplace = True)

In [ ]:
# Check for missing values
df.isnull().sum()

Address                0
Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Postal code            0
Public name            0
Rental status          0
Scheduled at           0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

### Consistency

In [ ]:
# Check for duplicates
df.duplicated().sum()

0

In [ ]:
# No duplicates

### Uniformity

In [ ]:
# rename columns to have underscores in names, instead of spaces

df.columns = (df.columns).str.replace(" ", "_")
df.columns

Index(['Address', 'Cars', 'Bluecar_counter', 'Utilib_counter',
       'Utilib_1.4_counter', 'Charge_Slots', 'Charging_Status', 'City', 'ID',
       'Kind', 'Postal_code', 'Public_name', 'Rental_status', 'Scheduled_at',
       'Slots', 'Station_type', 'Status', 'Subscription_status', 'year',
       'month', 'day', 'hour', 'minute'],
      dtype='object')

In [ ]:
# Only select Operational stations

df = df[df["Rental_status"] == "operational"]
df.head(2)

                     Address  Cars  Bluecar_counter  ...  day  hour  minute
0        2 Avenue de Suffren     0                0  ...    8    11      43
1  145 Rue Raymond Losserand     6                6  ...    6     7      24

[2 rows x 23 columns]

## Answering questions

### Research Questions

Research Question: Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [ ]:
# Q: Identify the most popular hour of the day for picking up a shared electric car (Bluecar) 
# in the city of Paris over the month of April 2018.

In [ ]:
table_results = df[(df["City"] == "Paris") & (df["year"] == 2018) & (df["month"] == 4)]
table_results["hour"].mode()[0]

21

In [ ]:
# 9 PM

### Bonus Questions

Q1: What is the most popular hour for returning cars?

In [ ]:
df["hour"].mode()[0]

21

In [ ]:
# 9 PM

Q2 (a): What station is the most popular? (Overall)

In [ ]:
df["ID"].mode()[0]

'paris-portedemontrouge-8'

In [ ]:
# Paris, Porte De Mont Rouge

Q2 (b): What station is the most popular? (Most popular picking hour)

In [ ]:
(df[df["hour"] == df["hour"].mode()[0]]["ID"]).mode()[0]

'paris-tronchet-19'

In [ ]:
# Paris, Tronchet 19

Q3 (a, i): What postal code is the most popular for picking up Blue cars? (Overall)

In [ ]:
(df[df["Bluecar_counter"] > 0]["Postal_code"]).mode()[0]

75015

In [ ]:
# Code: 75015

Q3 (a, ii): Does the most popular station belong to that postal code? (Overall)

In [ ]:
df[(df["Postal_code"] == 75015) & (df["ID"] == "paris-portedemontrouge-8")]

Empty DataFrame
Columns: [Address, Cars, Bluecar_counter, Utilib_counter, Utilib_1.4_counter, Charge_Slots, Charging_Status, City, ID, Kind, Postal_code, Public_name, Rental_status, Scheduled_at, Slots, Station_type, Status, Subscription_status, year, month, day, hour, minute]
Index: []

In [ ]:
# No

Q3 (b, i): What postal code is the most popular for picking up Blue cars? (Most popular picking hour)

In [ ]:
(df[(df["Bluecar_counter"] > 0) & (df["hour"] == 21)]["Postal_code"]).mode()[0]

75014

In [ ]:
# Code: 75014

Q3 (b, ii): Does the most popular station belong to that postal code? (Most popular picking hour)

In [ ]:
df[(df["Postal_code"] == 75014) & (df["ID"] == "paris-tronchet-19")]

Empty DataFrame
Columns: [Address, Cars, Bluecar_counter, Utilib_counter, Utilib_1.4_counter, Charge_Slots, Charging_Status, City, ID, Kind, Postal_code, Public_name, Rental_status, Scheduled_at, Slots, Station_type, Status, Subscription_status, year, month, day, hour, minute]
Index: []

In [ ]:
# No

Q4 : Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

In [ ]:
((df["Utilib_counter"] + df["Utilib_1.4_counter"]) == df["Bluecar_counter"]).sum()

1082

In [ ]:
# Yes, because the Utilib Counter, and Utilib 1.4 counter are not
# equal to the the Blue cars counter

# Which means that the Blue cars counter
# Is not a sum of the Utilib Counter & Utilib 1.4 Counter

# This makes sense because the Utilib counters, 
# are counters of the energy efficient cars that Autolib created

In [ ]:
# Example

Q: What postal code is the most popular for picking up Blue cars? (Overall)

In [ ]:
(df[df["Utilib_counter"] > 0]["Postal_code"]).mode()[0]

75016

In [ ]:
# 75016 != 75015

In [ ]:
(df[df["Utilib_1.4_counter"] > 0]["Postal_code"]).mode()[0]

75017

In [ ]:
# 75017 != 75015